!!! 5
%html{:lang => "en"}
  %head
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Isan Home App">
    <meta name="author" content="Isaac Gonzalez and Andrea Centeno">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    %title
      IsanHome

    <link href="static/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="static/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/main.css" />
    <link rel="stylesheet" href="static/css/navbar.css" />

    / switch
    <link rel="stylesheet" href="static/css/switch.css" />
  %body
    %header#navbar
      #menu-bar
        %span.title Privacity
        %i.fa.fa-bars#icon-navicon
        %a{:href => "home.html"}
          %i.fa.fa-home#icon-home-view
      %nav#main-menu
        #menu-head
          #icon-close-menu
            %i.fa.fa-times
          .row#house-direction
            .col-xs-4
              %img{:src => "static/images/icon-home.jpg"}/
            .col-xs-8#house-info
              .title
                Casa 2
              #direction
                Av. San Martin, Colinas de Bello Monte, St. Miranda.
          .row#account
            .col-xs-9
              %img{:src => "static/images/icon-user.jpg"}/ 
              %span Manuel Smith
            .col-xs-3#icon-set
              %a{:href => "account.html"}
                %i.fa.fa-cogs
        %ul
          %li
            %a.a-menu{:href => "notifications.html"}
              %i.fa.fa-bell
              %span notifications
          %li
            %a.a-menu{:href => "statistics.html"}
              %i.fa.fa-line-chart
              %span statistics
          %li
            %a.a-menu{:href => "water.html"}
              %i.fa.fa-tint
              %span water
          %li
            %a.a-menu{:href => "light.html"}
              %i.fa.fa-lightbulb-o
              %span light
          %li
            %a.a-menu{:href => "schedules.html"}
              %i.fa.fa-clock-o
              %span schedules

    %section#privacity
      %a.go-back{:href => "account.html"}
        %i.fa.fa-angle-left 
        %span Go back to Acount 

      .box-bar
        .row
          .col-xs-7
            %h3
              Text notifications
          .col-xs-5.switch-col
            %label.switch
              %input{:type=>"checkbox",:checked => true} 
                .slider.round.round-privacity
      .box-bar
        .row
          .col-xs-7
            %h3
              Email notifications
          .col-xs-5.switch-col
            %label.switch
              %input{:type=>"checkbox",:checked => true} 
                .slider.round.round-privacity
      .box-bar
        .row
          .col-xs-7
            %h3
              Allow sound
          .col-xs-5.switch-col
            %label.switch
              %input{:type=>"checkbox",:checked => false} 
                .slider.round.round-privacity
          


  <script type="text/javascript" src="static/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/js/navbar.js"></script>