/******* VARIABLES *******/
@import 'variables';

/* BOTTONS */

.btn {
    border-radius: 0 !important;
    color: white;
}

.btn-green {
    background-color: $green0;
    &:hover {
        color: white;
        background-color: $green1;
    }
}

.btn-blue {
    background-color: $blue0;
    &:hover {
        color: white;
        background-color: $blue2;
    }
}

.btn-red {
    background-color: $red0;
    &:hover {
        color: white;
        background-color: $red1;
    }
}

.btn-large {
    width: 110px !important;
    height: 32px !important;
}

/* TITLES */

h1, .h1 {
    margin-top: 15px;
    font-size: $font-size-h1;
}

h2, .h2 {
    color: black;
    margin-top: 10px;
    font-size: $font-size-h2;
}

h3, .h3 {
    color: black;
    font-size: $font-size-h3;
}

p, .p {
    font-size: $font-size-p;
    color: $gray1;
}

.main-title {
    font-weight: bold;
    color: black;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
    font-family: $panama-font;
}

.bold {
    font-weight: bold;
}

navtitle {
    @extend .h3;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    display: inline;
}

agencyName{
    @extend .h3;
    color: white;
    font-weight: bold;
    display: inline;
}


label {
    @extend .h3;
    color: $gray2;
}

/* TEXT COLORS */

.text-blue {
    color: $blue0;
}

.text-green {
    color: $green0;
}

.text-red {
    color: $red0;
}

.text-white {
    color: white;
}

/* MAIN */

html {
    position: relative;
    min-height: 100%;
    overflow: hidden !important;
    font-size: 100%;
    display: block;
}

head{
    display: none;
    font-size: 100%;
}

body{
    font-family: $font-family;
    padding-top: 45px;
    height: 100%;
    margin: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    display: block;
    padding: 0;
}

.topbar {
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: visible;
    width: auto;
    background-color: $blue0;
    .brand {
        width: 187px;
        height: 56px;
        float: left;
        position: absolute;
        z-index: 1;
        display: block;
        padding: 9px 20px 8px;
        color: white;
        line-height: 1;
        text-align: center;
    }
    a {
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        text-decoration: none;
        font-weight: inherit;
    }
    img {
        width: auto;
        max-width: 130px;
    }
}

#body-content {
    font-family: $font-family;
    font-size: 13px;
    background-color: white;
    line-height: 1.42857143;
    margin-top: 56px;
    height: 100%;
    max-width: 3000px;
    -webkit-transition: max-width .7s ease;
}

#page-header {
  position: fixed;
  width: 100%;
  height: 84px;
  top: 56px;
  z-index: 170;
  max-width: 3000px;
  background-color: $gray0;
  -webkit-transition: max-width .7s ease;
}

#page-sidebar {
    height: 1510px;
    transition: transform .5s ease;
    width: 240px;
    float: left;
    position: fixed;
    margin-top: 84px;
    margin-right: -100%;
    z-index: 160;
    li {
        a .fa {
            opacity: .6;
            animation-fill-mode: both;
            font-size: 18px;
            line-height: 35px;
            display: block;
            float: left;
            width: 30px;
            height: 36px;
            margin-right: 5px;
            margin-left: 5px;
            text-align: center;
        }
        ul li a:before {
            font-size: 18px;
            line-height: 35px;
            display: block;
            float: left;
            width: 30px;
            height: 36px;
            margin-right: 5px;
            margin-left: 5px;
            text-align: center;
        }
    }
}

#page-content-wrapper {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 140;
    margin-top: 84px;
}

#color-nav {
    background-color: $blue1;
    height: 28px;
    width: 100%;
    z-index: 170;
    .col-xs-12 {
        padding: 5px 25px 0 25px;
    }
    h3 {
        margin-top: 2px !important;
        margin-bottom: 0 !important;
    }
}

/* Scroll div*/
#page-content {
    background: $gray0;
    height: 100%;
    > .container {
        margin: 0;
        padding: 0 18px 30px 18px;
        max-width: 100%;
        width: 100%;
        background: $gray0;
        height: 100%;
        overflow-y: auto;
    }
}

/* BLOCK CONTENT */

/* White box where the blocks of content are placed */

#content-container{
    background-color: white;
    padding: 30px;
    margin-top: 30px;
    margin-left: 5px;
    border-right-style: ridge;
    border-bottom-style: ridge;
}

/*****************************************************/

/* Forms */
.form-control {
    @extend .p;
    border-style: none;
    border-bottom-style: groove;
    border-radius: 0;
    box-shadow: inset 0 1px 1px #fff !important;
}

.form-group {
    padding: 20px 0 !important;
    .col-md-2 {
        margin-right: 18px;
    }
    #buttons {
        margin-top: 15px;
    }
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    opacity: 1;
}

/* Tables */

table {
    td {
        @extend .p;
    }
    th {
        @extend .h3;
        color: $gray3;
    }
}


/*  */
#totals-div {
    #totals{
        padding: 0 15px;
    }
    h2{
        float: right;
    }
}

/*  */
#buttons {
    .form-group{
        padding: 0px 0px !important;
        margin: 0px;
    } 
    .col-md-12 {
        margin-top: 18px;
    }
}

.buttons-div  {
    float: right;
    margin-left: 10px;
}

@media only screen and (min-width: 48em) {
    #page-content {
        margin-left: 240px;
    }
}


/* ALERTS */
.alert-success {
    color: white;
    background-color: $green0;
    border-color: $green0;
}

.alert {
    @extend .h3;
    @extend .title;
    padding: 18px;
    margin-bottom: 20px;
    border-radius: 0px;
    font-family: $font-family;
    z-index: 2;
}

.close {
    color: #fff;
    opacity: 1;
}