/******* VARIABLES *******/
@import 'variables';
@import 'texts';

label {
    font-size: $font-size-h3;
    color: $gray0;
}

/* MAIN */
html {
    position: relative;
    min-height: 100%;
    overflow: hidden !important;
    font-size: 100%;
    display: block;
}

head{
    display: none;
    font-size: 100%;
}

body{
    font-family: $font-family;
    height: 100%;
    margin: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    display: block;
    padding: 0;
    color: $body-color;
    background-color:$body-background;
    margin-top: 40.5px;
}

#body-content {
    line-height: 1.42857143;
    height: 100%;
    -webkit-transition: max-width .7s ease;
}

.background-cover{ 
    background-repeat: no-repeat;
    background-position: center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*****************************************************/

.btn-circle-icon{
    @extend .box-circle;
    @extend .shadow-default;
    width: 36px;
    height: 36px;
    background-color: $btn-circle-backgroud;
    font-size: $menu-icons-size;
    i{
        padding-left: 9px;
        padding-top: 3px;
    }
    a{
        color: $btn-circle-color;
    }
    a:hover{
        color: $hover-color;
    }
}

/* Sections */
section{
    padding-top:10px;

    a.go-back{
        display: block;
        width: 90%;
        margin:auto;
        text-decoration: none;
        i{
            font-size: $menu-icons-size;
            weight:bold;
            color:$dark-gray;
        }
        span{
            @extend .h2;
            &:hover{
                color: $main-blue;
            }
        }
    }
}

.section-fixed-darck-gray{    
    background-color:$dark-gray;
    height: 100%;
    position: fixed;
    width: 100%;

    a.go-back{
        i,span{
            color:$gray0;
            &:hover{
                color: $main-blue;
            }
        }
    }
}

.main-box{
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    color:$box-color;
    
    .box-content{
        background-color: $box-background;
        height: 100px;
        overflow: auto;
        .big-info{
            font-size: 46px;
            margin: 0px;
            padding-top:40px;
            text-align: center;
        }
        ul{
            padding-top:10px;
            margin-right: 20px;
        }
    }
    .box-bar-bottom{
        margin:0px;
        text-transform: uppercase;
        background-color:$box-bar-background;
        text-align: center;
        p{
            padding:6px 0px 6px 0px;
        }
    }
}

#notifications{
    .main-box{    
        .btn-circle-icon{
            position:relative;
            top:80px;
            left: 3px;
        }
        .box-content{
            margin-top: -36px;
        }
    }
}

#schedules{
    width: 100%;
    padding-top:0px;
    height: 382.5px;
    overflow: auto;
    .box-bar{
        padding: 6px 0 6px 0;
        margin-bottom: 2px;
        background-color:$box-bar-background;
        .row{
            width: 90%;
            margin: auto;
            h1{
                margin:0px;
            }
            .time-name{
                font-size: $font-size-h4;
            }
            .switch-col{
                padding-top:7px;
                text-align: right;
            }
        }
    }
    .box-bar-plus{
        height: 62.5px;
        background-color:$box-bar-plus-background;
        text-align: center;
        i{  
            margin-top: 14px;
            font-size: $menu-icons-size;
            color: $main-blue;
            cursor: pointer;
        }
    }
}

#account{
    padding-top:2px;
    #box-account{
        height: 157.66px;
        background-color:$box-acc-background;
        color: $box-acc-color;
        margin-bottom:2px;
        #box-account-content{
            text-align: center;
            padding-top: 26px;
            #account-img{
                @extend .background-cover;
                background-image: url("../images/icon-user.jpg");
                display: inline-block;
                vertical-align: middle;
                width: 100px;
                height: 100px;
            }
            #account-name{
                @extend .title;
                font-size: $font-size-h1;
                line-height: 30px;
                display: inline-block;
                vertical-align: middle;
                text-align: left;
            }
        }
    }
    .box-bar{
        height: 62.5px;
        background-color:$box-bar-acc-background;
        color: $box-bar-acc-color;
        padding: 14px 0 0 20px;
        margin-bottom: 2px;
        h1{
            display: inline-block;
            margin: 0;
        }
        i{
            float: right;
            font-size: $menu-icons-size;
            margin-right:20px;
            weight:bold;
        }
        &:hover{
            color:$hover-color;
        }
    }
}

#edit-profile,#alarms{
    @extend .section-fixed-darck-gray;

    form{
        background-color:$body-background;
        width: 90%;
        margin:auto;
        margin-top: 20px;
        padding:10px;
        button{
            margin-top: 10px;
            width: 100%;
            border: none;
            padding:10px;
            background-color:$main-blue;
            color:$gray0;
            font-size: $font-size-h3;
        }
        table{
            width: 100%;
            td{
                padding-bottom: 10px;
            }
        }
        input[type=text],input[type=number],select{    
            @include border-radius(0);   
            @include box-shadow(inset 0 1px 1px #fff !important);
            border-style: none;
            border: none;
            border-bottom: 1px solid $gray0;
            background-color:transparent;
        }
        .hour {
            text-align: center;
            input,select{
                width: 80px;
                display: inline-block;
            }
        }
    }
    #input-photo{
        max-width: 200px;
    }
}

#apphelp{
    width: 100%;
    position: fixed;
    overflow: auto;
    .info-help{
        padding-top: 10px;
        width: 80%;
        margin:auto;
        text-align: justify;
    }
}

#privacity{
    @extend .section-fixed-darck-gray;
    a.go-back{
        margin-bottom: 20px;
    }
    .box-bar{
        padding: 6px 0 6px 0;
        margin-bottom: 2px;
        .row{
            width: 90%;
            margin: auto;
            h3{
                margin:0px;
                margin-top: 4px;
                color: $gray0;
            }
            .switch-col{
                text-align: right;
                .round-privacity{
                    height: 23px;
                    width: 50px;
                    &::before{
                        height: 16px;
                        width: 16px;
                    }
                }
            }
        }
    }
}


footer{
    position:absolute;
    bottom: 0;
    padding:10px 10px 10px 10px;
    width: 100%;

    &#footer-bar{
        background-color: $footer-bar-background-color;
        color: $footer-bar-color;
        text-align: center;
        font-size: $font-size-h3;
        i{
            font-size: $footer-bar-icon-size;
        }
        .foot-col{        
            cursor:pointer;
        }
        .foot-col:hover{
            color:$hover-color;
        }
    }

    &#footnav-account{
        background-color: $footnav-background-color;
        img{
            @extend .box-circle;
            width: 70px;
            margin-right: 10px;
        }
    }
}
