/******* VARIABLES *******/
@import 'variables';

label {
    font-size: $font-size-h3;
    color: $gray0;
}

/* MAIN */
html {
    position: relative;
    min-height: 100%;
    overflow: hidden !important;
    font-size: 100%;
    display: block;
}

head{
    display: none;
    font-size: 100%;
}

body{
    font-family: $font-family;
    height: 100%;
    margin: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    display: block;
    padding: 0;
    color: $body-color;
    background-color:$body-background;
    margin-top: 40.5px;
}

#body-content {
    line-height: 1.42857143;
    height: 100%;
    -webkit-transition: max-width .7s ease;
}

/*****************************************************/

/* Sections */
section{
    padding-top:10px;
}

.main-box{
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    color:$box-color;

    .box-content{
        background-color: $box-background;
        height: 100px;
        overflow: auto;
        .big-info{
            font-size: 46px;
            margin: 0px;
            padding-top:40px;
            text-align: center;
        }
        ul{
            padding-top:10px;
            margin-right: 20px;
        }
    }
    .box-bar-bottom{
        margin:0px;
        text-transform: uppercase;
        background-color:$box-bar-background;
        text-align: center;
        p{
            padding:6px 0px 6px 0px;
        }
    }
}