/******* VARIABLES *******/
@import 'variables';

label {
    font-size: $font-size-h3;
    color: $gray0;
}

/* MAIN */
html {
    position: relative;
    min-height: 100%;
    overflow: hidden !important;
    font-size: 100%;
    display: block;
}

head{
    display: none;
    font-size: 100%;
}

body{
    font-family: $font-family;
    height: 100%;
    margin: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    display: block;
    padding: 0;
    color: $body-color;
    background-color:$body-background;
    margin-top: 40.5px;
}

#body-content {
    line-height: 1.42857143;
    height: 100%;
    -webkit-transition: max-width .7s ease;
}

/*****************************************************/

.btn-circle-icon{
    @extend .box-circle;
    @extend .shadow-default;
    width: 36px;
    height: 36px;
    background-color: $btn-circle-backgroud;
    font-size: $menu-icons-size;
    i{
        padding-left: 9px;
        padding-top: 3px;
    }
    a{
        color: $btn-circle-color;
    }
    a:hover{
        color: $hover-color;
    }
}

/* Sections */
section{
    padding-top:10px;
}

.main-box{
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    color:$box-color;
    
    .box-content{
        background-color: $box-background;
        height: 100px;
        overflow: auto;
        .big-info{
            font-size: 46px;
            margin: 0px;
            padding-top:40px;
            text-align: center;
        }
        ul{
            padding-top:10px;
            margin-right: 20px;
        }
    }
    .box-bar-bottom{
        margin:0px;
        text-transform: uppercase;
        background-color:$box-bar-background;
        text-align: center;
        p{
            padding:6px 0px 6px 0px;
        }
    }
}

#notifications{
    .main-box{    
        .btn-circle-icon{
            position:relative;
            top:80px;
            left: 3px;
        }
        .box-content{
            margin-top: -36px;
        }
    }
}

#schedules{
    width: 100%;
    padding-top:0px;
    height: 382.5px;
    overflow: auto;
    .box-bar{
        padding: 6px 0 6px 0;
        margin-bottom: 2px;
        background-color:$box-bar-background;
        .row{
            width: 90%;
            margin: auto;
            h1{
                margin:0px;
            }
            .time-name{
                font-size: $font-size-h4;
            }
            .switch-col{
                padding-top:7px;
                text-align: right;
            }
        }
    }
    .box-bar-plus{
        height: 62.5px;
        background-color:$box-bar-plus-background;
        text-align: center;
        i{  
            margin-top: 14px;
            font-size: $menu-icons-size;
            color: $main-blue;
            cursor: pointer;
        }
    }
}

footer{
    position:absolute;
    bottom: 0;
    padding:8px 10px 8px 10px;
    width: 100%;

    &#footer-bar{
        background-color: $footer-bar-background-color;
        color: $footer-bar-color;
        text-align: center;
        font-size: $font-size-h3;
        i{
            font-size: $footer-bar-icon-size;
        }
        .foot-col{        
            cursor:pointer;
        }
        .foot-col:hover{
            color:$hover-color;
        }
    }

    &#footnav-account{
        background-color: $footnav-background-color;
        img{
            @extend .box-circle;
            width: 70px;
            margin-right: 10px;
        }
    }
}