@import 'variables';
@import 'texts';
/*HEADER*/
header{
    margin: 0px;
    margin-top: -40.5px;
    width:100%;
    z-index: 1000;
    padding: 0px;
    position: fixed;
    -webkit-box-shadow: $default-shadow;
    -moz-box-shadow: $default-shadow;
    box-shadow: $default-shadow;

    #menu-bar{
        padding:10px 0px 10px 0px;
        display: block;
        width: 100%;
        text-align: center;
        background-color:$menu-bar-background;
        position: fixed;
        color:$menu-bar-color;
        #icon-navicon{
            padding-left:10px;
            float:left;
            font-size: $menu-bar-icon-size;
            cursor: pointer;
            &:hover{
                color:$hover-color;
            }
        }
        #icon-home-view{
            @extend #icon-navicon;
            float:right;
            padding-right:10px;
        }
        .title{
            color: $dark-gray;
        }
    }

    nav#main-menu{
        height:100%;
        left:-100%;
        margin:0;
        z-index: 1500;
        position: fixed;
        width:$menu-with;
        background-color:$menu-background;

        #menu-head{
            background-color: $menu-head-background;
            color: $menu-head-color;
            text-align:left;
            text-transform: none;
            font-weight: bold;

            #icon-close-menu{
                padding:10px;
                padding-top:6px;
                cursor:pointer;
                i{
                    float: right;
                    font-size: $menu-head-icon-size;
                }
            }
            #house-direction{
                width: 90%;
                margin: auto;
                img{
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    width: 70px;
                    display: inline-block;
                }
                #direction{
                    color:$main-blue;
                    font-size: $font-size-h4;
                    vertical-align: middle;
                }
            }
            #account{
                width: 98%;
                margin: auto;
                padding-bottom:4px;
                padding-top:12px;
                #icon-set{
                    text-align:right;
                    padding-top:10px;
                    i{
                        font-size: $menu-head-icon-size;
                    }
                }
                img{
                    width: 60px;
                }
            }
        }

        ul{
            margin:auto;
            font-size:$menu-font-size;
            overflow: hidden;
            list-style:none;
            padding-top:10px;

            li{
                position: relative;
                display:block;
                float:none;
                text-align: left;

                a.a-menu{
                    padding: 16px 0px 16px 0px;
                    display:block;
                    text-decoration:none;
                    color: $menu-color;
                    i{
                        font-size: $menu-icons-size;
                        width: 50px;
                        color:$dark-gray;
                        display: inline-block;
                        vertical-align: middle;
                        text-align: center;
                        //&:hover{
                        //    color:#fff;
                        //}
                    }
                    span{
                        @extend .title;
                        font-family: $menu-font;
                        vertical-align: middle;
                    }
                }
                a:hover{
                    color:$hover-color;
                }
            }
        }
    }
}